// project specific global type rules

* {
    @include sans-serif;
    color: $white;
}

h1 {
    @include serif;
    font-size: 160px;
    font-weight: bold;
    line-height: .67;
}

h2,
h3,
h4,
h5 {
    @include sans-serif;

    &.caps {
        text-transform: uppercase;
    }
}

h2 {
    font-size: 120px;
    line-height: 1.04;
    font-weight: bold;
}

h3 {
    font-size: 96px;
    font-weight: bold;
    line-height: 1.2;
}

h4 {
    font-size: 45px;
    font-weight: bold;
    line-height: 1.16;
}

h5 {
    text-transform: uppercase;
    font-size: 29px;
    line-height: 1.38;

    &.bold {
        font-weight: bold;
    }
}

p {
    // Normal <p> styles, without class
    @include sans-serif;
    font-size: 29px;
    line-height: 1.38;

    &.small { // footer only
        font-size: 22px;
        line-height: 1.36;
    }

    &.medium {
        font-size: 40px;
        line-height: 1.38;
    }

    &.large {
        @include serif;
        font-size: 95px;
        line-height: 1.21;
        letter-spacing: -1px;
    }

    &.huge {
        @include serif;
        font-size: 110px;
        line-height: 1.14;
        letter-spacing: .5px;
    }
}

ul {
    li {
        padding-left: 30px;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 9px;
            height: 9px;
            border-radius: 8px;
            background: $accent-yellow;
            position: absolute;
            top: 20px;
            left: 0;
            transform: translate(0, -50%);
        }
    }
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.serif {
    @include serif;
}
