{
  "plugins": [
    ["transform-es2015-block-scoping"],
    ["transform-es2015-classes", {"loose": true}],
    ["transform-runtime", {"polyfill": false}]
  ],
  "presets": ["env", "react", "stage-0"]
}
